* {
    box-sizing: border-box;
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*font-family: "Noto Sans KR", sans-serif;*/
}

a {
    text-decoration: none;
    color: black;
}

button,
input {
    border: none;
    outline: none;
}

.board-container {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.search-container {
    background-color: rgb(253, 253, 250);
    width: 100%;
    height: 110px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    height: 37px;
    display: flex;
}

.search-option {
    width: 100px;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}

.search-option>option {
    text-align: center;
}

.search-input {
    color: gray;
    background-color: white;
    border: 1px solid #ccc;
    height: 100%;
    width: 300px;
    font-size: 15px;
    padding: 5px 7px;
}

.search-input::placeholder {
    color: gray;
}

.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.search-button:hover {
    color: rgb(165, 165, 165);
}

table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}

tr:nth-child(even) {
    background-color: #f0f0f070;
}

th,
td {
    width: 300px;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

td {
    color: rgb(53, 53, 53);
}

.no {
    width: 150px;
}

.title {
    width: 50%;
}

td.title {
    text-align: left;
}

td.writer {
    text-align: left;
}

td.viewCnt {
    text-align: right;
}

td.title:hover {
    text-decoration: underline;
}

.paging {
    color: black;
    width: 100%;
    align-items: center;
}

.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}

.paging-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paging-container a {
    color: #337ab7;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.paging-container a:hover {
    background-color: #337ab7;
    color: #ffffff;
}

.paging-container .spacing {
    margin: 0 10px;
}

.spacing {
    margin-right: 10px;
}

.btn-write {
    background-color: rgb(236, 236, 236);
    /* Blue background */
    border: none;
    /* Remove borders */
    color: black;
    /* White text */
    padding: 6px 12px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 5px;
    margin-left: 30px;
}

.btn-write:hover {
    text-decoration: underline;
}
.cust-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.dashboard1{
    flex: 1.5;
    margin-right: 50px;
    color: #fff;
}
.dashboard2 {
    flex: 8.5;


}
.forEachTag th {
    padding-bottom: 10px;
}

table {
    width: 100%; /* 테이블 전체 너비 */
    border-collapse: collapse; /* 테이블 경계선 결합 */
}

th {

    padding: 15px; /* 패딩값 설정 */
    text-align: left; /* 제목 텍스트 왼쪽 정렬 */
}

.forEachTag {
    border: 1px solid #ddd; /* 행마다 경계선 설정 */
    padding: 8px; /* 행 패딩값 설정 */
}

.forEachTag:nth-child(even){background-color: #f2f2f2;} /* 짝수 행 배경색상 */

.forEachTag:hover {background-color: #ddd;} /* 마우스 오버 시 행 배경색상 */