.content {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.right-content {
    margin: auto;
    min-height: 700px;
    width: 800px;
}

.order-list-head {
    position: relative;
    padding: 30px 0 15px;
}

.order-list-head .date {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    vertical-align: top;
}

.order-list-head .date:last-child {
    margin-bottom: 15px;
}

.order-list-head .date .ico-bl-gift {
    background-image: url('/resources/pc/images/icon/icon-gift-point.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.order-list-head .date .order-num {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.order-list-head .btn-order-cancel {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 4px 0;
    border: 0;
}

.order-list-head .btn-order-cancel > span {
    display: inline;
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    border-bottom: 1px solid;
}

.order-list-head .order-num {
    display: inline-block;
    margin-left: 12px;
    font-size: 15px;
    color: #666;
    line-height: 1.4;
    vertical-align: bottom;
}

.order-list-head .order-num .ico-arr-right {
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

.order-list-head .order-num [class*="ico-arr-"]:after, .order-list-head .order-num[class*="ico-arr-"]:before {
    background: #666
}

.order-list-head .right {
    margin-top: 4px;
    displaY: flex;
    align-items: center;
    gap: 4px;
}

.order-list-head .right .btn-link-txt5 {
    display: flex;
    align-items: center;
}

.order-list-head .right .btn-link-txt5 span {
    color: #999;
}

.order-list-head .right .btn-link-txt5 [class*="ico-arr"] {
    margin-top: 0;
    margin-right: 0;
    margin-left: 2px;
    border-color: #999;
}

.order-list-head .right .btn-link-txt5 [class*="ico-arr"]::before, .order-list-head .right .btn-link-txt5 [class*="ico-arr"]::after {
    box-shadow: none;
    background-color: #999;
}

.order-list-head .right .order-item-id {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    font-wieght: 400;
}

.order-list-head .date ~ .ico-bl-gift {
    margin-left: 5px;
    vertical-align: bottom;
}

.order-list-area > ul {
    list-style: none;
}

.order-content-box > ul {
    list-style: none;
}

.order-content-box > ul {
    padding-left: 0px;
}

/* 주문내역 slide */
.order-swiper-list {
    position: relative;
    padding-bottom: 25px;
}

.order-swiper-list .swiper-pagination {
    bottom: 0;
    line-height: 1;
}

/*.order-content-box{border:1px solid #ccc; border-radius:5px; padding:20px;}*/
.order-content-box .order-state-bar {
    position: relative;
    border-radius: 2px;
    background: #f5f5f5;
    padding: 10px 8px;
    margin-bottom: 15px;
}

.order-content-box .order-state-bar .txt-state {
    color: #FF6001;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px
}

.order-content-box .order-state-bar .btn-link-txt2 {
    position: absolute;
    top: 10px;
    right: 18px
}

.order-content-box .addr-info-line {
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin-top: 15px;
    display: flex;
}

.order-content-box .addr-info-line p {
    color: #666
}

.order-content-box .addr-info-line p [class*="ico-bl-"] {
    margin-right: 10px;
}

/*.order-content-box .addr-info-line .btn-option{position:absolute; right:0; top:12px}*/
.order-content-box .addr-info-line .addr-info-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: auto;
}

.order-content-box .addr-info-line .addr-info-btn span {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
}

.order-content-box .addr-info-line .addr-info-btn > .ico-arr-right {
    margin: 0;
}

.order-content-box .addr-info-line .addr-info-btn > .ico-arr-right::before, .order-content-box .addr-info-line .addr-info-btn > .ico-arr-right::after {
    box-shadow: none;
    background-color: #666;
}

.order-content-box + .order-content-box {
    margin-top: 10px
}

.order-content-box .inner-txt {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.order-content-box .inner-txt dt {
    display: table-cell;
    width: 95px;
    color: #333;
}

.order-content-box .inner-txt dd {
    display: table-cell;
    color: #666;
    word-break: break-all;
}

.order-list-wrap {
    width: 820px;
}

.order-content-box .prd-info-area .column.img {
    display: inline-block;
    margin-right: 10px;
}

.order-content-box .prd-info-area .column.img > a {
    display: block;
    border-radius: 6px;
    overflow: hidden;
}

.order-content-box .prd-info-area .column.tit {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    padding-bottom: 6px;
}

.order-content-box .prd-info-area .column.tit .prd-state-row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

.order-content-box .prd-info-area .column.tit .prd-state-row .prd-state-head {
    font-weight: 700;
    color: #ff6001;
    font-size: 15px;
    line-height: 16px;
}

.order-content-box .prd-info-area .column.tit .prd-state-row .prd-state-date {
    font-size: 15px;
    line-height: 16px;
    color: #666;
    font-weight: 400;
}

.order-content-box .prd-info-area .column.tit .tit {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 0;
}

.order-content-box .prd-info-area .column.tit .desc {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    margin-top: 6px;
    margin-bottom: 0;
}

.order-content-box .prd-info-area .column.col-btn-group {
    float: right;
    vertical-align: middle;
}

.order-content-box .prd-info-area .column.col-btn-group .col-btn-group-inn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.order-content-box .prd-info-area .column.col-btn-group .col-btn-group-inn .prd-control-btn {
    display: block;
    padding: 7px 8px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

.order-content-box .prd-info-area .column.col-btn-group .col-btn-group-inn .prd-control-btn[disabled] {
    background-color: #f8f8f8;
    border: 1px solid #e6e6e6;
}

.order-content-box .prd-info-area .column.col-btn-group .col-btn-group-inn .prd-control-btn span {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    white-space: nowrap;
}

.order-content-box .prd-info-area .column.col-btn-group .col-btn-group-inn .prd-control-btn[disabled] span {
    color: #999;
}

.order-content-box .prd-info-area .price-item {
    float: right;
    width: 130px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.order-content-box .prd-info-area .price-item .dlv-nmr {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-end;
}

.order-content-box .prd-info-area .price-item .dlv-nmr .dlv-nmr-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.order-content-box .prd-info-area .price-item .dlv-nmr .dlv-nmr-cnt {
    padding-left: 11px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.order-content-box .prd-info-area .price-item .dlv-nmr .dlv-nmr-cnt::before {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: calc(11px / 2);
    transform: translate(-50%,-50%);
}

.order-content-box .prd-info-area .price-item .dlv-type, .order-content-box .prd-info-area .price-item .dlv-count {
    margin-bottom: 6px;
}

.search-box {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.menu-title-area ~ .search-box {
    margin-top: 25px;
    margin-bottom: 30px;
}

.search-box .search-detail {
    padding-top: 0;
}

.search-detail-top {
    display: flex;
    gap: 10px;
}

.search-detail-top .search-detail-date-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-detail-top .search-detail-date-wrapper .input-text {
    width: 160px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-color: #fff;
}

.search-detail-top .search-detail-date-itemname {
    width: 100%;
}

.search-detail-top .search-detail-date-itemname .input-text {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    padding-right: 50px;
}

.search-detail-top .search-detail-date-itemname .input-group-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: auto;
    height: auto;
    z-index: 3;
    padding: 15px;
}

.search-detail-top .search-detail-date-itemname .input-group-btn .btn-icon-search {
    width: 18px;
    height: 18px;
}

.search-detail-filter {
    display: flex;
    padding-top: 10px;
}

.search-detail-filter .search-detail-filter-btn-group {
    display: flex;
    gap: 8px;
}

.search-detail-filter .search-detail-filter-btn-group .detail-filter-btn {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #eee;
    padding: 8px 9px;
    border-radius: 6px;
    background-color: #f8f8f8;
}

.search-detail-filter .search-detail-filter-btn-group .detail-filter-btn.active {
    border: 1px solid #666;
    color: #fff;
    background-color: #666;
    font-weight: 700;
}

.search-detail-filter .search-detail-filter-end {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.search-detail-filter .search-detail-filter-end .btn-form {
    height: 32px;
    margin-left: 24px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #666;
    color: #fff;
    background-color: #666;
    font-weight: 700;
    text-decoration: none;
}

.search-detail-filter .search-detail-filter-end .btn-form > span {
    line-height: 30px;
    font-size: 12px;
    font-weight: 400;
}
