#refsearch {
    padding: 0;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.refline {
    display: inline-block;
}

#prodimg {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#prodinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.thmImg {
    position: relative; /* Change this to relative */
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#prodname {
    position: relative;
    width: 100%;
    height: 15px;
    font-size: 14px;
    text-align: center;
    right: 1px;

}

#prodprice {
    position: relative;
    bottom: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    right: 1px;
    top: 10px;
}

#resultline {
    margin: auto;
}

.proditem {
    width: 23%;
    margin-bottom: 20px;

}

.content {
    min-height: 700px;
}
