<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 자동으로 카멜케이스 규칙으로 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="CustDto" type="org.example.domain.CustDto"/>
        <typeAlias alias="CartDto" type="org.example.domain.CartDto"/>
        <typeAlias alias="DlvAddrDto" type="org.example.domain.DlvAddrDto"/>
        <typeAlias alias="NotcDto" type="org.example.domain.NotcDto"/>
    <typeAlias alias="NotcSearchCondition" type="org.example.domain.NotcSearchCondition"/>
        <typeAlias alias="GuidDto" type="org.example.domain.GuidDto"/>
        <typeAlias alias="FaqDto" type="org.example.domain.FaqDto"/>
        <typeAlias alias="OrderDto" type="org.example.domain.OrderDto"/>
        <typeAlias alias="OrdDtlDto" type="org.example.domain.OrdDtlDto"/>
        <typeAlias alias="ProdDto" type="org.example.domain.ProdDto"/>
        <typeAlias alias="CateMainDto" type="org.example.domain.CateMainDto"/>
        <typeAlias alias="ProdCateDto" type="org.example.domain.ProdCateDto"/>
        <typeAlias alias="ProdOptDto" type="org.example.domain.ProdOptDto"/>
        <typeAlias alias="ProdDcDto" type="org.example.domain.ProdDcDto"/>
        <typeAlias alias="ProdImgDto" type="org.example.domain.ProdImgDto"/>
        <typeAlias alias="ProdSearchCondition" type="org.example.domain.ProdSearchCondition"/>
    </typeAliases>
</configuration>