<style>

li {
    list-style: none;
}

.dis_btn {
    border: 1px solid black;
    background-color: #f8f9fd;
    color: black;
    outline: none;
}

.dis_dropdown {
    position: absolute;
    display: inline-block;
}

.dis_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fd;
    min-width: 23px;
    z-index: 1;
}

.dis_dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dis_dropdown-content a:hover {
    background-color: #ddd
}

.dis_dropdown:hover .dis_dropdown-content {
    display: block;
}

.dis_btn:hover,
.dropdown:hover .dis_btn {
    background-color: white;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.question-button {
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#dis_toggle {
    display: none;
}

#prid_toggle {
    display: none;
}

#opt_toggle {
    display: none;
}

.box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.box-content {
    display: none;
    padding: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000000 transparent;
}

.arrow.up {
    transform: translateY(-50%) rotate(180deg);
}

.category-box {
    display: flex;
    height: 250px;
}

.category-box .category {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
}

.classification {
    border: 1px solid #0088dd;
    padding: 5px;
    text-align: center;
}

#productName {
    width: 500px;
    float: left;
    margin: 10px;
    display: inline;
}

.discount {
    border: 1px solid #0088dd;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.period {
    border: 1px solid #0088dd;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

#discount {
    margin-top: 30px;
    margin-bottom: 30px;
}

#period {
    margin-top: 30px;
    margin-bottom: 30px;

}

.price_label {
    margin-right: 30px;
}

#productPrice {
    margin-right: 10px;
}

#tmp {
    margin-bottom: 10px;
}

#productStock {
    margin-right: 10px;
}

#dis_period_toggle {
    display: none;
}

#prid_period_toggle {
    display: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #0088dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#opt_adjust {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #cccccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;

}

.form-to {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#won {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.opt_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40px;
    height: 30px;
}

.opt_btn:hover {
    background-color: #2980b9;
}

#opt_name,
#opt_value {
    display: inline-block;
    vertical-align: top;
}

#opt_name {
    margin-left: 100px;
    margin-right: 200px;
}

#opt_value {
    margin-right: 100px;

}

/* #unit {
    margin-right: 50px;
    visibility: hidden; 
} */

#opt_input {
    /* float : left; */
    margin-top: 100px;
    width: 150px;
    margin-right: 100px;
}

#op1_name {
    width: 180px;
}

#op1_value {
    width: 400px;
}

.option_name {
    width: 180px;
}

.op_value {
    width: 400px;
    float: left;
    margin-right: 10px;
}

#opt_menu input {
    display: block;
    margin-top: 10px;
}

.quty_check {
    display: inline;
}

.list {
    width: 80%;
    margin: auto;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

td,
th {
    border: 1px solid black;
}

#table-container {
    display: flex;
    justify-content: center;
}

table input {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* .L_cate {
    transition: background-color 0.3s, color 0.3s;
} */

.L_cate:hover {
    background-color: lightgoldenrodyellow;
}

#clicked_cate {
    color: darkgreen;
    margin-left: 87px;
}

#prod_name {
    color: darkgreen;
    margin-left: 100px;
}

#prod_price {
    color: darkgreen;
    margin-left: 100px;
}

#prod_stk {
    color: darkgreen;
    margin-left: 87px;
}

</style>