<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.CartMapper">
    <select id="select" parameterType="map" resultType="CartDto">
        SELECT *
        FROM cart
        WHERE cust_id = #{custId}
        AND prod_cd = #{prodCd}
    </select>
    <select id="selectAll" parameterType="string" resultType="CartDto">
        SELECT *
        FROM cart
        WHERE cust_id=#{custId}
    </select>
    <select id="count" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM cart
        WHERE cust_id = #{custId}
    </select>
    <insert id="insert" parameterType="CartDto">
        INSERT INTO cart
            (cust_id, prod_cd, prod_name, prod_qty, tot_prod_price, paymt_pnt)
        values
            (#{custId}, #{prodCd}, #{prodName}, #{prodQty}, #{totProdPrice}, #{totProdPrice}/100)
    </insert>
    <delete id="delete" parameterType="map">
        DELETE
        FROM cart
        WHERE cust_id = #{custId}
        AND prod_cd = #{prodCd}
    </delete>
    <delete id="deleteAll" parameterType="string">
        DELETE FROM cart
        WHERE cust_id=#{custId}
    </delete>
    <update id="update" parameterType="map">
        UPDATE cart
        SET  prod_qty  = #{prodQty}
           , tot_prod_price = #{totProdPrice}
           , paymt_pnt = #{totProdPrice}/100
        WHERE cust_id = #{custId}
        AND prod_cd = #{prodCd}
    </update>


    <select id="getOrdHist" parameterType="string" resultType="OrderDto">
        SELECT CUST_ID
               , (SELECT PROD_CD from cart LIMIT 1) main_prodCd
               , IF(COUNT(*) > 1, CONCAT((SELECT PROD_NAME FROM cart WHERE CUST_ID = #{custId} LIMIT 1), ' 외 ', COUNT(*)-1, '개'), (SELECT PROD_NAME FROM cart WHERE CUST_ID = #{custId} LIMIT 1)) AS prodName
               , COUNT(*) totProdCnt
               , SUM(TOT_PROD_PRICE) totPrc
               , SUM(PROD_QTY) totQty
               , SUM(EXPCT_DC_PRC) totDcPrc
               , CASE WHEN SUM(TOT_PROD_PRICE) >= 30000 THEN 0 ELSE 3000 END dlvPrc
               , (SUM(TOT_PROD_PRICE) - SUM(EXPCT_DC_PRC) + (CASE WHEN SUM(TOT_PROD_PRICE) >= 30000 THEN 0 ELSE 3000 END)) finPrc
        FROM cart
        WHERE CUST_ID = #{custId}
    </select>
</mapper>