<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.loginHistMapper">

    <!-- 특정 회원 아이디에 해당하는 로그인 이력을 조회 -->
    <select id="select" resultType="LoginHistoryDTO" parameterType="LoginHistoryDTO">
        SELECT *
        FROM cust_lgin_hist
        WHERE cust_id = #{custId}
    </select>

    <!-- 특정 회원의 로그인 이력을 페이지 별로 조회 -->
    <select id="selectPage" parameterType="map" resultType="LoginHistoryDTO">
        SELECT *
        FROM cust_lgin_hist
        ORDER BY dttm DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 새로운 로그인 이력을 저장 -->
    <insert id="insert" parameterType="LoginHistoryDTO">
        INSERT INTO cust_lgin_hist
        (LGIN_HIST_ID, CUST_ID, DTTM, SCSS_YN, IP, TP, FAIL_CAUS, NATN, MHRLS, VLD_TERM, FAIL_CNT, FST_REG, FST_REGR, LAST_UPD, LAST_UPDR)
        VALUES
            (#{lginHistId}, #{custId}, #{dttm}, #{scssYn}, #{ip}, #{tp}, #{failCaus}, #{natn}, #{mhrLS}, #{vldTerm}, #{failCnt}, #{fstReg}, #{fstRegr}, #{lastUpd}, #{lastUpdr})
    </insert>

    <!-- 모든 회원의 로그인 이력을 조회 -->
    <select id="selectAll" resultType="LoginHistoryDTO">
        SELECT *
        FROM cust_lgin_hist
    </select>

    <!-- 특정 회원의 로그인 횟수를 조회 -->
    <select id="count" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM cust_lgin_hist
        WHERE cust_id = #{custId}
    </select>
    <!-- 모든 회원의 로그인 횟수를 조회 -->
    <select id="countAll" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM cust_lgin_hist
    </select>

    <!-- 특정 회원의 가장 최근 로그인 이력을 조회 -->
    <select id="resetFailCountSelect" parameterType="String" resultType="LoginHistoryDTO">
        SELECT *
        FROM cust_lgin_hist
        WHERE cust_id = #{custId}
        ORDER BY DTTM DESC
            LIMIT 1
    </select>

    <!-- 특정 회원의 가장 최근 로그인 실패 횟수를 0으로 초기화 -->
    <update id="resetFailCountUpdate" parameterType="LoginHistoryDTO">
        UPDATE cust_lgin_hist
        SET FAIL_CNT = 0
        WHERE cust_id = #{custId}
            ORDER BY DTTM DESC
        LIMIT 1;
    </update>

</mapper>