<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.notcMapper">

    <select id="select" parameterType="String" resultType="notcDTO">
        select *
        from cs_notc
        where BBSO_NO = #{BBSO_NO}
    </select>

    <select id="count" resultType="int">
        select count(*) from cs_notc
    </select>

    <insert id="insert" parameterType="notcDTO">
        insert into cs_notc
            (BBSO_NO, TTL, CN, WRTD, WRTR, CATE, FST_REGR, LAST_UPDR, USE_YN)
        VALUES
            (#{BBSO_NO}, #{TTL},#{CN}, #{WRTD},#{WRTR}, #{CATE}, #{FST_REGR}, #{LAST_UPDR}, #{USE_YN})
    </insert>

    <update id="update" parameterType="notcDTO">
        update cs_notc
        set TTL = #{TTL}, CN = #{CN}
          , WRTD = #{WRTD}
          , LAST_UPD = #{LAST_UPD}
        where BBSO_NO = ${BBSO_NO} and WRTR = ${WRTR}
    </update>

    <delete id="deleteForAdmin">
        delete from cs_notc where BBSO_NO = #{BBSO_NO}
    </delete>

    <delete id="deleteAll">
        delete from cs_notc
    </delete>

    <select id="selectAll" resultType="notcDTO">
        select *
        from cs_notc
        order by BBSO_NO desc, WRTD desc
    </select>

    <select id="selectPage" parameterType="map" resultType="notcDTO">
        select *
        from cs_notc
        order by BBSO_NO DESC, WRTD DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <update id="increaseViewCnt" parameterType="int">
        update cs_notc
        set NOTC_CNT = NOTC_CNT+1
        where BBSO_NO = #{BBSO_NO}
    </update>



    <select id="searchSelectPage" parameterType="notcSearchCondition" resultType="notcDTO">
        select *
        from cs_notc
        where true
        <choose>
            <when test='option=="T"'>
                AND TTL LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>

        order by WRTD DESC, BBSO_NO DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="notcSearchCondition" resultType="int">
        select count(*)
        from cs_notc
        where true

        <choose>
            <when test='option=="T"'>
                AND TTL LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
</mapper>