<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.pointMapper">

<!--   특정 회원이 가지고있는 포인트들 0729 ORDER BY 추가 -->
    <select id="select" resultType="pointDto" parameterType="String">
        SELECT *
        FROM pnt_mst
        WHERE CUST_ID = #{custId}
        ORDER BY dttm DESC
    </select>

    <!--   특정 포인트아이디가 가지고있는 모든정보 -->
    <select id="selectPointId" resultType="int" parameterType="String">
        SELECT *
        FROM pnt_mst
        WHERE PNT_ID = #{pntId}
    </select>

    <!-- 특정 회원이 보유하고 있는 포인트를 페이지 별로 조회 -->
    <select id="selectPage" parameterType="map" resultType="pointDto">
        SELECT *
        FROM pnt_mst
        WHERE CUST_ID = #{custId}
        ORDER BY dttm DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <!--   최신 포인트 한줄 가져오기 -->
    <select id="selectOne" resultType="pointDto" parameterType="String">
        SELECT *
        FROM pnt_mst
        WHERE CUST_ID = #{custId}
        ORDER BY dttm DESC
        LIMIT 1
    </select>

    <!-- 새로운 포인트 정보를 추가 -->
    <insert id="insert" parameterType="pointDto">
        INSERT INTO pnt_mst
        (PNT_ID, CUST_ID, STUS, CHNG_PNT, point, DTTM, EXPI_DTTM, CHG_CN, REMARK, PNT_CD, FST_REG, FST_REGR, LAST_UPD, LAST_UPDR)
        VALUES
            (#{pntId}, #{custId}, #{stus}, #{chngPnt}, #{point}, #{dttm}, #{expiDttm}, #{chgCn}, #{remark}, #{pntCd}, #{fstReg}, #{fstRegr}, #{lastUpd}, #{lastUpdr})
    </insert>

    <!-- 특정 포인트 정보를 업데이트 -->
    <update id="update" parameterType="pointDto">
        UPDATE pnt_mst
        SET CUST_ID = #{custId}, STUS = #{stus}, CHNG_PNT = #{chngPnt}, point = #{point}, DTTM = #{dttm}, EXPI_DTTM = #{expiDttm}, CHG_CN = #{chgCn}, REMARK = #{remark}, PNT_CD = #{pntCd}, FST_REG = #{fstReg}, FST_REGR = #{fstRegr}, LAST_UPD = #{lastUpd}, LAST_UPDR = #{lastUpdr}
        WHERE PNT_ID = #{pntId}
    </update>

    <!-- 모든 포인트 정보를 조회 -->
    <select id="selectAll" resultType="pointDto">
        SELECT *
        FROM pnt_mst
    </select>

    <!-- 특정 회원의 포인트 개수를 조회 -->
    <select id="count" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM pnt_mst
        WHERE CUST_ID = #{custId}
    </select>

</mapper>