<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch4.dao.ProdOptValMapper">

<!--    DB에 들어있는 전체상품옵션개수-->
    <select id="count" resultType="int">
        SELECT count(*) FROM prod_opt_val
    </select>

<!--    DB에 들어있는 전체상품옵션 삭제-->
    <delete id="deleteAll">
        DELETE FROM prod_opt_val
    </delete>

<!--    관리자페이지에서 본인이 등록한 상품옵션 삭제 -->
    <delete id="deleteForAdmin" parameterType="map">
        DELETE FROM prod_opt_val WHERE PROD_CD = #{PROD_CD} and CUST_ID = #{CUST_ID}
    </delete>

<!--    상품등록페이지에서 옵션등록하기-->
    <insert id="insert1" parameterType="ProdOptValDto">
        INSERT INTO prod_opt_val
            (PROD_CD, OPT_NAME1, OPT_VAL1,
            QTY, OPT_SPC_PRC, USE_YN)
        VALUES
            (#{prodCd}, #{optName1}, #{optVal1},
             #{qty}, #{optPrc}, #{useYn})
    </insert>

    <insert id="insert2" parameterType="ProdOptValDto">
        INSERT INTO prod_opt_val
        (PROD_CD, OPT_NAME1, OPT_NAME2, OPT_VAL1, OPT_VAL2,
        QTY, OPT_SPC_PRC, USE_YN)
        VALUES
            (#{prodCd}, #{optName1}, #{optName2}, #{optVal1}, #{optVal2},
           #{qty}, #{optPrc}, #{useYn})
    </insert>

    <insert id="insert3" parameterType="ProdOptValDto">
        INSERT INTO prod_opt_val
        (PROD_CD, OPT_NAME1, OPT_NAME2, OPT_NAME3, OPT_VAL1, OPT_VAL2, OPT_VAL3,
         QTY, OPT_SPC_PRC, USE_YN)
        VALUES
            (#{prodCd}, #{optName1}, #{optName2}, #{optName3}, #{optVal1}, #{optVal2},
             #{optVal3}, #{qty}, #{optPrc}, #{useYn})
    </insert>

    <!--  옵션테이블에서 전체 옵션 불러오기 -->
    <select id="selectAll" resultType="ProdDto">
        SELECT *
        FROM prod_opt_val
        ORDER BY PROD_CD DESC
    </select>

<!--    해당상품 옵션 불러오기 select-->
    <select id="selectProdOpt" parameterType="map" resultType="ProdDto">
        SELECT PROD_CD, SN, OPT_NAME1, OPT_NAME2, OPT_NAME3, OPT_VAL1, OPT_VAL_UNIT1, OPT_VAL2, OPT_VAL_UNIT2, OPT_VAL3,
               OPT_VAL_UNIT3, QTY, QTY_UNIT,PRC_INC_DEC, OPT_SPC_PRC, USE_YN, REMARK
        from prod_opt_val
        WHERE PROD_CD = #{prodCd}
    </select>

</mapper>