<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.ProdOptMapper">
    <!-- select -->
    <select id="select" parameterType="string" resultType="ProdOptDto">
        SELECT * FROM prod_opt WHERE opt_cd = #{optCd}
    </select>

    <!-- select all -->
    <select id="selectAll" resultType="ProdOptDto">
        SELECT * FROM prod_opt
    </select>

    <!-- count -->
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM prod_opt
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="ProdOptDto">
        INSERT INTO prod_opt (opt_cd, prod_cd, opt_name, opt_qty, opt_type, sale_prc, use_yn, del_yn, remark, fst_reg, fst_regr, last_upd, last_updr)
        VALUES (#{optCd}, #{prodCd}, #{optName}, #{optQty}, #{optType}, #{salePrc}, #{useYn}, #{delYn}, #{remark}, #{fstReg}, #{fstRegr}, #{lastUpd}, #{lastUpdr})
    </insert>

    <!-- update -->
    <update id="update" parameterType="ProdOptDto">
        UPDATE prod_opt SET
                            prod_cd = #{prodCd},
                            opt_name = #{optName},
                            opt_qty = #{optQty},
                            opt_type = #{optType},
                            sale_prc = #{salePrc},
                            use_yn = #{useYn},
                            del_yn = #{delYn},
                            remark = #{remark},
                            fst_reg = #{fstReg},
                            fst_regr = #{fstRegr},
                            last_upd = #{lastUpd},
                            last_updr = #{lastUpdr}
        WHERE opt_cd = #{optCd}
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="string">
        DELETE FROM prod_opt WHERE opt_cd = #{optCd}
    </delete>

    <!-- delete all -->
    <delete id="deleteAll">
        DELETE FROM prod_opt
    </delete>

</mapper>