<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.ProdMapper">
    <!-- Select -->
    <select id="select" parameterType="string" resultType="ProdDto">
        SELECT * FROM prod WHERE prod_Cd = #{prodCd}
    </select>

    <!-- Select All -->
    <select id="selectAll" resultType="ProdDto">
        SELECT * FROM prod
    </select>

    <!-- Count -->
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM prod
    </select>

    <!-- Insert -->
    <insert id="insert" parameterType="ProdDto">
        INSERT INTO prod (prod_Cd, cate_Cd, sn, prod_Name, prod_Smrv_Desc, prod_Dtl_Desc, prod_Price, prod_Img, ascr, dc_Cd, inv_Yn, inv_Qty, sale_Yn, sort_Yn, opt_Yn, del_Yn, min_Cnt, mft_Date, use_Date, sale_Start, sale_Last, remark, fst_Reg, fst_Regr, last_Upd, last_Updr,prod_img_name)
        VALUES  (#{prodCd}, #{cateCd}, #{sn}, #{prodName}, #{prodSmrvDesc}, #{prodDtlDesc}, #{prodPrice}, #{prodImg}, #{ascr}, #{dcCd}, #{invYn}, #{invQty}, #{saleYn}, #{sortYn}, #{optYn}, #{delYn}, #{minCnt}, #{mftDate}, #{useDate}, #{saleStart}, #{saleLast}, #{remark}, #{fstReg}, #{fstRegr}, #{lastUpd}, #{lastUpdr},#{prodImgName})
    </insert>

    <!-- Update -->
    <update id="update" parameterType="ProdDto">
        UPDATE prod
        SET cate_Cd = #{cateCd},
            prod_Name = #{prodName},
            prod_Smrv_Desc = #{prodSmrvDesc},
            prod_Dtl_Desc = #{prodDtlDesc},
            prod_Price = #{prodPrice},
            prod_Img = #{prodImg},
            ascr = #{ascr},
            dc_Cd = #{dcCd},
            inv_Yn = #{invYn},
            inv_Qty = #{invQty},
            sale_Yn = #{saleYn},
            sort_Yn = #{sortYn},
            opt_Yn = #{optYn},
            del_Yn = #{delYn},
            min_Cnt = #{minCnt},
            mft_Date = #{mftDate},
            use_Date = #{useDate},
            sale_Start = #{saleStart},
            sale_Last = #{saleLast},
            remark = #{remark},
            fstReg = #{fstReg},
            fstRegr = #{fstRegr},
            lastUpd = #{lastUpd},
            lastUpdr = #{lastUpdr}
        WHERE prod_Cd = #{prodCd}
    </update>

    <!-- Delete -->
    <delete id="delete" parameterType="string">
        DELETE FROM prod WHERE prod_Cd = #{prodCd}
    </delete>

    <!-- Delete All -->
    <delete id="deleteAll">
        DELETE FROM prod
    </delete>

    <!-- 상품 검색에 사용하는 SQL문   -->
    <select id="prodSearch" parameterType="ProdSearchCondition" resultType="ProdDto">
        SELECT *
        FROM prod
        WHERE true
        <choose>
            <when test='option=="T"'>
                AND prod_name LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>

        order by prod_cd asc, sale_yn desc
    </select>

    <!-- 상품 검색에 사용하는 SQL문   -->
    <select id="prodCount" parameterType="ProdSearchCondition" resultType="ProdDto">
        SELECT count(*)
        FROM prod
        WHERE true
        <choose>
            <when test='option=="T"'>
                AND prod_name LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>

</mapper>