<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.ProdDcMapper">

    <!-- select -->
    <select id="selectProdDc" >
        SELECT * FROM prod_dc WHERE dc_cd = #{dcCd}
    </select>

    <!-- insert -->
    <insert id="insertProdDc" >
        INSERT INTO prod_dc (dc_cd, prod_cls_cd, dc_type, dc_name, dc_tar, dc_rt, dc_price, useYn, del_yn, dc_start, dc_last, remark, fstReg, fstRegr, lastUpd, lastUpdr)
        VALUES (#{dcCd}, #{prodClsCd}, #{dcType}, #{dcname}, #{dcTar}, #{dcRt}, #{dcPrice}, #{useYn}, #{delYn}, #{dcStart}, #{dcLast}, #{remark}, #{fstReg}, #{fstRegr}, #{lastUpd}, #{lastUpdr})
    </insert>

    <!-- update -->
    <update id="updateProdDc" >
        UPDATE prod_dc
        SET prod_cls_cd = #{prodClsCd}, dc_type = #{dcType}, dc_name = #{dcname}, dc_tar = #{dcTar}, dc_rt = #{dcRt}, dc_price = #{dcPrice},
            useYn = #{useYn}, del_yn = #{delYn}, dc_start = #{dcStart}, dc_last = #{dcLast}, remark = #{remark}, fstReg = #{fstReg},
            fstRegr = #{fstRegr}, lastUpd = #{lastUpd}, lastUpdr = #{lastUpdr}
        WHERE dc_cd = #{dcCd}
    </update>

    <!-- delete -->
    <delete id="deleteProdDc" >
        DELETE FROM prod_dc WHERE dc_cd = #{dcCd}
    </delete>

    <!-- delete All -->
    <delete id="deleteAllProdDc">
        DELETE FROM prod_dc
    </delete>

    <!-- select Count -->
    <select id="countProdDc" >
        SELECT COUNT(*) FROM prod_dc
    </select>

    <!-- Select All -->
    <select id="selectAllProdDc" >
        SELECT * FROM prod_dc
    </select>


</mapper>